body {
    margin: 0;
    padding: 0;
    background-color: #867f76;
}

P {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
   text-decoration:underline;
}


#arredondada {
    border-radius: 15px;
    text-align: center;
}

#mestre {
    width: 100%;
    overflow: hidden;
    
}
#foto {
    width: 100%;
    height: 300px;
    background-image: url(Img/fundo.jpg);
}
#central {
    width: 100%;
    height: 900px;   
}
#esquerda {
    width: 79%;
    height: 900px;
    float: left;
    padding: 5px;
    text-align: center;
    color: white;
}
#direita {
    width: 20%;
    height: 900px;
    float: right;
    text-align: center;
    align-items: center;
    justify-content: center;   
    background-color: #867f76;
    border-radius: 15px;
    border: 2px solid;
    margin-right: 4px;
}


#central2 {
    width: 100%;
    height: 300px;
    color: white;
}



#filho1 {
    width: 300px;
    height: 20%;
    margin: 20px 0px 40px 40px;
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    place-items: center; 
    display: grid;
    align-items: center;
   }

#filho1:hover {
    transform: scale(0.94);
    }

#filho2 {
    width: 300px;
    height: 20%;
    margin: 20px 0px 40px 40px;
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

#filho2:hover {
    transform: scale(0.94);
    }

#filho3 {
    width: 300px;
    height: 20%;
    margin: 10px 0px 40px 40px;
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

#filho3:hover {
    transform: scale(0.94);
    }

 @media (max-width: 1800px) {
        body {
          font-size: 12px;
        }
        #esquerda {
          width: 65%;
        }
        #direita {
            width: 25%;
        }
        #filho1, #filho2, #filho3{
            width: 70%;
            height: 25%;
            padding: 5px;
            margin: 3px 10px 3px 10px;
        }
        #central {
            flex-direction:column-reverse ;
        }
      }